*.lua text eol=crlf working-tree-encoding=cp932
*.obj text eol=crlf working-tree-encoding=cp932 linguist-language=Lua
*.anm text eol=crlf working-tree-encoding=cp932 linguist-language=Lua
*.scn text eol=crlf working-tree-encoding=cp932 linguist-language=Lua
*.cam text eol=crlf working-tree-encoding=cp932 linguist-language=Lua
*.tra text eol=crlf working-tree-encoding=cp932 linguist-language=Lua